bert-serving-client==1.9.6
certifi==2019.6.16
chardet==3.0.4
Click==7.0
config==0.4.2
fasttext==0.9.1
Flask==1.1.1
GPUtil==1.4.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mkl-fft==1.0.14
mkl-random==1.0.2
mkl-service==2.0.2
numpy==1.17.0
opencv-python-headless==4.1.1.26
pybind11==2.3.0
pyzmq==18.1.0
requests==2.22.0
six==1.12.0
termcolor==1.1.0
urllib3==1.25.3
Werkzeug==0.15.4
